/* admin.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
  }
  
  .admin-container {
    max-width: 600px;
    margin: 80px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .admin-container h2 {
    text-align: center;
    margin-bottom: 24px;
    color: #333;
  }
  
  .admin-form {
    display: flex;
    flex-direction: column;
  }
  
  .admin-form label {
    margin-bottom: 6px;
    font-weight: bold;
    color: #444;
  }
  
  .admin-form input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
  }
  
  .admin-form input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  }
  
  .admin-form button {
    padding: 12px;
    background-color: #10316B;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #10316B;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .admin-form button:hover {
    background-color: #0056b3;
    border: 2px solid white;
  }
  
  li{
    margin-bottom: 20px;
  }